@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-white;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
